/* ###################### UTILITIES ###################### */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.show {
    opacity: 1!important;
    pointer-events: visible!important;
}

.buttonClass{
    background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
    border-radius: 10px;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 18px;
    transition: background-position .6s ease, opacity 0.2s;
    overflow: hidden;
    text-align: center;
    background-size: 200% auto;
    color: white;
}

.buttonClass:hover{
    background-position: right center;
    cursor: pointer;
}

/* ####################################################### */
/* ###################### BODY ###################### */

body{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    background-color: #000000;
    -webkit-transition: background-image 0.2s ease;
    transition: background-image 0.2s ease;
    /*overflow: hidden;*/
    padding: 0px;
    margin: 0px;
}

/* ####################################################### */
/* ################### DIALOGUE BLOCK #################### */

#dialogue-module {
    position: fixed;
    bottom:0;
    width: calc(100% - 20px * 2);
    padding: 0 20px 20px 20px;
    opacity: 1;
    transition: transform 0.6s, opacity 0.3s;
}

#dialogue-block{
    background-image: linear-gradient(to right, rgba(72,85,99,0.7) 0%, rgba(41,50,60,0.7)  51%, rgba(72,85,99,0.7)  100%);
    width: 100%;
    border-radius: 25px;
    height: 20vh;
    border: thick double #c7c7c7;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .6));
    padding-bottom: 10px;
    padding-top: 15px;

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

#dialogue-block::-webkit-scrollbar {
    display: none;
}

#speaker-block{
    background-image: linear-gradient(to right, rgba(72,85,99,0.7) 0%, rgba(41,50,60,0.7)  51%, rgba(72,85,99,0.7)  100%);
    width: 18%;
    border-radius: 15px 15px 0 0;
    border: thick double #c7c7c7;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .6));
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 2%;
}

.up{
    transform: translateY(calc(-1vh - 20vh));
}

.hide{
    opacity: 0!important;
    pointer-events: none!important;
}

#character-speaker{
    color: #4995a8;
    font-size:2em;
    margin:0;
}

#dialogue-text {
    margin: 0 20px 0 20px;
    color: white;
    text-align: justify;
    font-size:1.7em;
}

@media only screen and (max-width: 1400px) {
    #speaker-block{
        width: 25%;
    }

    #character-speaker{
        font-size:1.7em;
    }
}

@media only screen and (max-width: 800px) {
    #speaker-block{
        width: 35%;
    }

    #character-speaker{
        font-size:1.5em;
    }

    #dialogue-text{
        font-size:1.4em;
    }
}

/* ####################################################### */
/* ################### CHOICE BLOCK ###################### */

#choice-module {
    position: fixed;
    bottom:0;
    width: calc(100% - 20px * 2);
    padding: 0 20px 20px 20px;
    text-align: center;
}

#choice-block{
    opacity: 0;
    width: 75%;
    border-radius: 25px;
    height: 20vh;
    transition: all 0.4s;
    display: inline-block;
    align-items: center;
}

#choicesLoc{
    display: grid;
    grid-gap: 10px;
    margin: 5px 2%;
    width: 100%;
}

#choice-row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#grid2choices{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#grid3choices{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#grid4choices{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#grid5choices{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#grid6choices{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#grid7choices{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#grid8choices{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pageButton{
    grid-row: 1;
    height: 60px;
    margin-top: 7vh;
    padding: 0 20px 0 20px;
}

@media only screen and (max-width: 1100px) {
    #choice-block{
        width: 100%;
    }
}


/* ####################################################### */
/* ##################### INPUT BLOCK ##################### */

#input-module{
    position: fixed;
    bottom:0;
    width: calc(100% - 20px * 2);
    padding: 0 20px 20px 20px;
    transform: translateY(calc(-5vh - 20vh));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    opacity: 0;
    transition: all 0.8s;
}

#inputLoc{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

#inputButton{
    grid-column: 4;
    grid-row: 1;
    padding: 15px 0 15px 0;
}

#inputText {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.3em;
}

.invalidtext {
    color: #b82e2e!important;
}

/* ####################################################### */
/* ###################### INVENTORY ###################### */

#inventory-module{
    background: rgba(84, 97, 129, 0.7);
    width: 90%;
    height: 90vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s, opcaity 0.15s, all 1s;
    opacity: 1;
    pointer-events: visible;
    text-align: center;
    border-radius: 25px;
    border: solid #464646;
}

#inventory-module h1{
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .6));
    color: #4995a8;
}

#inventory-background-overlay{
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opcaity 0.3s;
    pointer-events: none;
}

.inventoryclosed{
    top: -45%!important;
    bottom: 50%!important;
    right: 0!important;
    opacity: 0!important;
    margin-top: 15px!important;
    transform: scale(0.01)!important ; translate(0, 0)!important;
    pointer-events: none!important;
}

#inventoryButton {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    margin-top: 15px;
    margin-right: 15px;
    transition: all 0.5s;
    pointer-events: none;
    padding: 20px 25px;
}

#inventory-button-exit{
    position: fixed;
    bottom: 20px;
    transform: translateX(-69px);
    padding: 12px 25px 12px 25px;
}

#inventory-container{
    background: rgba(58, 84, 93, 0.6);
    padding: 10px;
    height: calc(100% - 200px);
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 25%;
    overflow-y: auto;
    border-radius: 10px;
    border: solid #9d9d9d;
}

.item-button{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 5px 5px 5px 5px!important;
}

.img-item{
    width: 100%;
    margin-top: 15%;
    height: 90%;
    grid-row: 1/5;
    pointer-events: none;
}

.text-item{
    grid-row: 5;
    pointer-events: none;
}

@media only screen and (max-width: 1500px) {
    #inventory-container{
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 1100px) {
    #inventory-container{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    #inventory-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #inventory-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    #inventory-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ####################################################### */
/* ################### CHARACTER LIST #################### */

#characters-module{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    justify-items: center;
    margin: 0!important;
}

.character-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.character-img{
    margin-top: auto;
    pointer-events: none;
    width: auto;
}

/* ####################################################### */